doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/vex.css')
    link(rel='stylesheet', href='/stylesheets/vex-theme-wireframe.css')
  body(style="background-color:#2b3039")
    block content